body{
    text-align: center;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
    height: 80vh;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.connected-users ul{
    list-style: none;
}

main aside{
    background-color: aliceblue;
    border: 1px solid black;
    width: 20%;
}

main section{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid black;
}

.chat-container{
    display: flex;
    flex-direction: column;
    height: 72vh; 
    justify-content: space-between;
}

.message-container{
    text-align: left;
    margin-left: 20px;
    overflow-y: auto;
}

#writeComment{
    display: flex;
    height: 50px;
    justify-content: center;
}